// Navigation Styles here
.topNav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1% 0 1%;

  nav {
    display: flex;
    width: 32%;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: @shark;
      font-size: 1.6rem;
      margin-right: 5%;
    }
  }
}
